<footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3">
                <h5>Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">Lorem ipsum <br>Lorem ipsum sdsfsf</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">+1 (800) 123 1234</a></div>
                    </div>
                  </li>
                 
                </ul><a class="d-inline-block big" href="mailto:#">mail@shopannonce.com</a>
              </div>
              <div class="col-md-6 col-lg-5">
                <h5>Liens Utiles</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><%= link_to 'Nous contacter', homes_faq_path %></li>
                      <li><%= link_to 'F.A.Q', homes_faq_path %></li>
                      <li><a href="#">A propos</a></li>
                      <li><%= link_to 'Toutes les annonces', adverts_path%></li>
                    </ul>
                  </div>
                 
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights text-center"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved.  By <a href="https://www.abuzweb.com/" target="_blank">AbuzWeb</a></p>
          </div>
        </div>
      </footer>