<header>
    
    <div id="header">
      <div class="container">
        <div class="header-container row">
          <div class="logo"> <a href="index.html" title="index">
            <div><h2 class="text-white ">Shop Annonce </h2></div>
            </a> </div>
          <div class="fl-nav-menu">
            <nav>
              <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
              </div>
              <div class="nav-inner"> 
                <!-- BEGIN NAV -->
                <ul id="nav" class="hidden-xs">
                
                  <li> <a class="level-top" href="#"><span>Home</span></a></li>
                  <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Fruits</span></a>
                    <div class="level0-wrapper dropdown-6col">
                      <div class="container">
                        <div class="level0-wrapper2">
                          <div class="col-1">
                            <div class="nav-block nav-block-center"> 
                              <!--mega menu-->
                              <ul class="level0">
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Tropical Fruits</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Coconuts</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Dragonfruits</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Pomegranates</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Passionfruit</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Citrus Fruits‎</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Fresh Oranges</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Grapefruits</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Organic Limes</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Yellow Lemons</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Stone Fruits</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Sweet Apricots</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Nectarines</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Doughnut Peachs</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Italian Fruits</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Large Fruits</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Pineapples</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Organic Papayas</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Fresh Melons</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Grapefruits</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Seasonal Fruits</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Black Jamuns</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Fresh Mangos</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Organic Litchis</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Longans</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                                <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Berries & Cherries</span></a> 
                                  <!--sub sub category-->
                                  <ul class="level1">
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Strawberries</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Raspberries</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Blackberries</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                    <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Cherries</span></a> </li>
                                    <!--level2 nav-6-1-1-->
                                  </ul>
                                  <!--level1--> 
                                  <!--sub sub category--> 
                                </li>
                                <!--level3 nav-6-1 parent item-->
                              </ul>
                              <!--level0--> 
                            </div>
                            <!--nav-block nav-block-center--> 
                          </div>
                          <!--col-1-->
                          <div class="col-2">
                            <div class="menu_image"><a title="" href="grid.html"><img alt="menu_image" src="/images/banner.jpg"></a></div>
                          </div>
                          <!--col-2--> 
                        </div>
                        <!--level0-wrapper2--> 
                      </div>
                      <!--container--> 
                    </div>
                    <!--level0-wrapper dropdown-6col--> 
                    <!--mega menu--> 
                  </li>
                  <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Salads‎</span></a>
                    <div class="level0-wrapper dropdown-6col">
                      <div class="container">
                        <div class="level0-wrapper2">
                          <div class="nav-block nav-block-center"> 
                            <!--mega menu-->
                            <ul class="level0">
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Veg Salads</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Tomatoes</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Cucumbers</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Peppers & Capsicums</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Avocados</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Dressings Salads</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Hellmann's</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Giuseppe Giusti</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Unitednature</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Walden Farms</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Fruits Salads</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Pineapples</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Red Apple</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Strawberries</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Row Mangos</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Bagged Salads</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Italian Baby Spinach</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Australia Green Kale</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Sustenir Fresh Toscano</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Oro Rocket Salad</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Lettuce Salads</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Butterhead</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Red Coral</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Rolla Rosa Lettuce</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Summercrisp</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                                                            <!--level3 nav-6-1 parent item-->
                            </ul>
                            <!--level0--> 
                          </div>
                          <!--nav-block nav-block-center-->
                          <div class="nav-add">
                            <div class="push_item">
                              <div class="push_img"><a href="#" class="purple-block">Get 20% OFF on all Vagetables</a></div>
                            </div>
                            <div class="push_item">
                              <div class="push_img"><a href="#" class="purple-block blue-block">Save 30% on fruits and juices</a></div>
                            </div>
                            <div class="push_item">
                              <div class="push_img"><a href="#" class="purple-block pink-block">free delivery on all salads</a></div>
                            </div>
                           
                           
                          </div>
                        </div>
                        <!--level0-wrapper2--> 
                      </div>
                      <!--container--> 
                    </div>
                    <!--level0-wrapper dropdown-6col--> 
                    <!--mega menu--> 
                  </li>
                  <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Vegetables</span></a>
                    <div class="level0-wrapper dropdown-6col">
                      <div class="container">
                        <div class="level0-wrapper2">
                          <div class="nav-block nav-block-center"> 
                            <!--mega menu-->
                            
                            <ul class="level0">
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Leafy Vegetables</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Sprouts</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Lettuce</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Banana Leaves</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Microgreens</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Mushrooms</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Shimeji Mushroom</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Portobello Mushroom</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Oyster Mushroom</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Shiitake Mushroom</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Baby Vegetables</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Cabbage</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Capsicums</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Pak Choi</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Spinach</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Salad Vegetables</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Cucumbers</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Avocados</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Mustard Leaves</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Tomatoes</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              <li class="level3 nav-6-1 parent item"> <a href="grid.html"><span>Asian Vegetables</span></a> 
                                <!--sub sub category-->
                                <ul class="level1">
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Spring Onion</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Lady Fingers</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Watercress</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                  <li class="level2 nav-6-1-1"> <a href="grid.html"><span>Curry Leaves</span></a> </li>
                                  <!--level2 nav-6-1-1-->
                                </ul>
                                <!--level1--> 
                                <!--sub sub category--> 
                              </li>
                              <!--level3 nav-6-1 parent item-->
                              
                              <!--level3 nav-6-1 parent item-->
                            </ul>
                            <!--level0--> 
                          </div>
                          <!--nav-block nav-block-center--> 
                        </div>
                        <!--level0-wrapper2--> 
                      </div>
                      <!--container--> 
                    </div>
                    <!--level0-wrapper dropdown-6col--> 
                    <!--mega menu--> 
                  </li>
                  <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Juices</span></a> </li>
                  <li class="mega-menu"> <a class="level-top" href="grid.html"><span>Meats</span></a> </li>
                  <li class="level0 parent drop-menu"><a href="#"><span>Pages</span> </a> 
                    <!--sub sub category-->
                    <ul class="level1">
                      <li class="level1 first"><a href="grid.html"><span>Product Grid</span></a></li>
                      <li class="level1 nav-10-2"> <a href="list.html"> <span>Product List</span> </a> </li>
                      <li class="level1 nav-10-3"> <a href="product-detail.html"> <span>Product Detail</span> </a> </li>
                      <li class="level1 nav-10-4"> <a href="shopping-cart.html"> <span>Cart Page</span> </a> </li>
                      <li class="level1 first parent"><a href="checkout.html"><span>Checkout</span></a> 
                        <!--sub sub category-->
                        <ul class="level2 right-sub">
                          <li class="level2 nav-2-1-1 first"><a href="checkout-method.html"><span>Method</span></a></li>
                          <li class="level2 nav-2-1-5 last"><a href="checkout-billing-info.html"><span>Billing Info</span></a></li>
                        </ul>
                        <!--sub sub category--> 
                      </li>
                      <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                      <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                      <li class="level1"> <a href="multiple-addresses.html"> <span>Multiple Addresses</span> </a> </li>
                      <li class="level1"> <a href="about-us.html"> <span>About us</span> </a> </li>
                      <li class="level1 first parent"><a href="blog.html"><span>Blog</span></a> 
                        <!--sub sub category-->
                        <ul class="level2 right-sub">
                          <li class="level2 nav-2-1-1 first"><a href="blog-detail.html"><span>Blog Detail</span></a></li>
                        </ul>
                        <!--sub sub category--> 
                      </li>
                      <li class="level1"><a href="contact-us.html"><span>Contact us</span></a> </li>
                      <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                      <li class="level1"><a href="login.html"><span>Login Page</span></a> </li>
                      <li class="level1"><a href="quickview.html"><span>Quick View</span></a> </li>
                      <li class="level1"><a href="newsletter.html"><span>Newsletter</span></a> </li>
                    </ul>
                  </li>
                  <li class="fl-custom-tabmenulink mega-menu"> <a href="#" class="level-top"> <span>Custom</span> </a>
                    <div class="level0-wrapper fl-custom-tabmenu">
                      <div class="container">
                        <div class="header-nav-dropdown-wrapper clearer">
                          <div class="grid12-3">
                            <div><img src="/images/custom-img1.jpg" alt="custom-image"></div>
                            <h4 class="heading">Up to 70% Off</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                          <div class="grid12-3">
                            <div><img src="/images/custom-img2.jpg" alt="custom-image"></div>
                            <h4 class="heading">Big Sale - Get 50% oFF</h4>
                            <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                          </div>
                          <div class="grid12-3">
                            <div><img src="/images/custom-img3.jpg" alt="custom-image"></div>
                            <h4 class="heading">SALE UP TO 40% OFF</h4>
                            <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                          </div>
                          <div class="grid12-3">
                            <div><img src="/images/custom-img4.jpg" alt="custom-image"></div>
                            <h4 class="heading">Summer Sale! limited time</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!--nav--> 
              </div>
            </nav>
          </div>
          
          <!--row-->
          
          <div class="fl-header-right">
            <div class="fl-links">
              <div class="no-js"> <a title="Company" class="clicker" onclick="openNav()"></a>
                
              </div>
            </div>
            
              </div>
            </div>
            <!--mini-cart-->
            <div class="collapse navbar-collapse">
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                  <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
                  </span> </div>
              </form>
            </div>
            <!--links--> 
          </div>
        </div>
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&rarr;</a>
                  
                  <ul class="links">
                    <li><a href="/homes/index" title="Home">Home</a></li>
                    <li><a href="blog.html" title="Blog"><span>Ads</span></a></li>
                     <li><a href="/users/sign_in" title="Register">Register</a></li>
                    <li class="last"><a href="/users/sign_in" title="Login"><span>Login</span></a></li>
                  </ul>
                  
                  
    </div>
  </header>