<header>
    
    <div id="header">
      <div class="container">
        <div class="header-container row">
          <div class="logo"> <a href="index.html" title="index">
            <div><h2 class="text-white ">Shop Annonce </h2></div>
            </a> </div>
          
          
          <!--row-->
          
          <div class="fl-header-right">
            <div class="fl-links">
              <div class="no-js"> <a title="Company" class="clicker" onclick="openNav()"></a>
                
              </div>
            </div>
            
              </div>
            </div>
            <!--mini-cart-->
            <div class="collapse navbar-collapse">
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                  <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
                  </span> </div>
              </form>
            </div>
            <!--links--> 
          </div>
        </div>
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&rarr;</a>
                  
                  <ul class="links">
                    <li><a href="/homes/index" title="Home">Home</a></li>
                    <li><a href="blog.html" title="Blog"><span>Ads</span></a></li>
                     <li><a href="/users/sign_in" title="Register">Register</a></li>
                    <li class="last"><a href="/users/sign_in" title="Login"><span>Login</span></a></li>
                  </ul>
                  
                  
    </div>
  </header>