
     <br><br><br>
      <!-- Our Principles-->
      <section class="section section-lg bg-gray-100">
        <div class="container text-center text-lg-left">
          <h2> F.A.Q</h2>
          <div class="row row-30 number-counter-2">
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Puis-je déposer une annoncer sur ShopAnnonce sans créer de compte?</h5>
                  <div class="content">Non il n'est pas possible de créer des annonces sur le site sans avoir un compte sur ce dernier. Par contre vous pouvez voir les annonces déjà publiées sur le site.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Création d'annonces</h5>
                  <div class="content">Après connexion à votre compte, vous pouviez directement créer une annonce gratuitement. La création se fait en deux étapes, une fois votre annonce créé, elle ne sera pas automatiquement publié, notre équipe se chargera de vérifier qu'elle respecte bien nos règles de publication d'annonces. Si votre annonce est acceptée, elle sera publiée en 24h au plus.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Comment valider mon compte ?</h5>
                  <div class="content">Près création de votre compte sur ShopAnnonce, vous devez le valider via le lien qui vous sera envoyé par mail. Sans quoi votre compte ne sera pas activé.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Demander une nouvelle étude de l'annonce</h5>
                  <div class="content">Si votre annonce n'a pas été acceptée, un mail vous sera automatiquement envoyé pour vous présenter les raisons de ce refus. Vous pourriez par la suite contacter notre service clientèle pour une réclamation ou si vous pensez que le refus n'est pas justifié.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

       <br><br><br>
      <!-- Our Story-->
      <section class="section section-lg  bg-secondary">
        <div class="container">
          <h2><span class="text-light">A</span> PROPOS</h2>
          <div class="row row-30 justify-content-xl-between">
            <div class="col-md-6 col-xl-6">
              <p class="big text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor. Nulla facilisi.</p>
              <div class="box-shadow-2 bg-light">
                <div class="box-shadow-header bg-secondary">
                  <div class="unit flex-column flex-md-row">
                    <div class="unit-left">
                      <div class="heading-5">1</div>
                    </div>
                    <div class="unit-body">
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat</p>
                    </div>
                  </div>
                </div><img class="img-responsive" src="https://res.cloudinary.com/hgjpsweyn/image/upload/v1640644434/background/glossy-advertisement_pyrm1t.png" />
              </div>
            </div>
            <div class="col-md-6 col-xl-5">
              <ul class="list-lg">
                <li>
                  <div class="heading-5">2</div>
                  <p class="p-offset-1 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor.</p>
                </li>
                <li>
                  <div class="heading-5">3</div>
                  <p class="p-offset-1 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor. Nulla facilisi. Curabitur accumsan metus mauris, non iaculis magna pulvinar sit amet. Aenean sagittis purus non egestas eleifend.</p>
                </li>
                <li>
                  <div class="heading-5">4</div>
                  <p class="p-offset-1 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      
     
    </div>
    <div class="snackbars" id="form-output-global"></div>
   

    