<p>Salut <%= @resource.email %>!</p>

<p>Vous avez demandé un lien pour changer votre mot de passe. Le voici.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'était pas vous veuillez tout simplement ignorer ce mail.</p>
<p>Votre mot de passe ne sera pas changé si vous ne cliquez pas sur ce lien et que vous en créez un nouveau !</p>
